.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 40px;
}

.cabecalho__titulo {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 26px;
  color: var(--main-color);

  text-align: center;
}

.cabecalho__titulo span {
  color: orange;
}
