h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--main-color);

  width: 100%;
  border-bottom: 1px solid var(--main-color);
  padding: 5px 0;
  text-transform: uppercase;
}
